<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="px-md-1 px-lg-1">
        <section class="row mt-5">
          <div class="col-12 col-md-8 mx-auto">
          <article class="card shadow">
            <form action="/accessories/send-buy" method="POST" id="form-sendOrder" enctype="multipart/form-data">
            <div class="card-header d-flex flex-column flex-md-row justify-content-between">
                <h4 class="my-2">Pedido de accesorios</h4>
                <div class=" mb-2">
                   
                  
                </div>              
              </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p>Vendedor: <span><%= user.name %> <%= user.surname %>  </span></p>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="d-flex">
                        <div class="w-100">
                          <input type="text" name="reference" class="form-control w-100 mb-2" placeholder="Referencia">
                          <input class="form-control w-100" name="observations" id="observations" placeholder="Observaciones"></input>
                        </div>
                       
                        <div class="ms-2 ">
                          <span class="small text-danger" id="ticketError"></span>
                          <div class="position-relative">
                            <img src="" alt="" id="vistaPrevia" height="80px">
                            <a href="" class="text-danger h6 position-absolute top-0 end-0" id="btnDeletePreview"></a>
                          </div>
                       
                        </div>
                      </div>
                      </div>
                      <p class="col-12 alert alert-danger my-1 py-0 px-5" id="maxError" hidden>
                        Máximo 5 unidades por acccesorio.
                      </p>
                </div>
                <div class="row">
                 
                  <div class="col-12 px-4">
                    <table class="table mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Cant.</th>
                          <th scope="col">Accesorio</th>
                          <th scope="col" class="col-1">Precio</th>
                          <th scope="col" class="col-1">Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% accessories.forEach(accessory => { %>
                        <tr>
                          <th scope="row" class="col-2">
                            <input
                              id="input<%= accessory.id %>"
                              class="form-control border-0 quantity"
                              type="number"
                              min="0"
                              max="5"
                              onchange="updateSubotal('<%=accessory.id%>')"
                              name="quantities"
                            />
                            <span id="error<%= accessory.id %>" class="text-danger small" hidden>Máx. 5 unid.</span>
                          </th>
                          <td class="fw-bold" id="accessory<%= accessory.id %>">
                            <%= accessory.name %>
                            <input type="text" name="ids" value="<%= accessory.id %>" hidden>
                            <input type="text" name="names" value="<%= accessory.name %>" hidden>
                          </td>

                          <td>
                            <div class="d-flex justify-content-between">
                              <span>$</span
                              ><span id="price<%= accessory.id %>"
                                > <%= (locals.userLogin.rolName !== "medidor") ? accessory.salePrice : "-" %></span
                              >
                              <input type="text" name="prices" value="<%= accessory.salePrice %>" hidden>
                            </div>
                          </td>
                          <td>
                            <div
                              class="d-flex justify-content-between"
                              id="box-subtotal<%= accessory.id %>"
                            >
                              <span>$</span
                              ><span class="subtotal" id="subtotal<%= accessory.id %>"
                                ><%= (locals.userLogin.rolName !== "medidor") ? 0 : "-" %></span
                              >
                            </div>
                          </td>

                        </tr>
                        <% }) %>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="3" class="text-end">
                              <b>EMBALAJE:</b> 
                          </td>
                          <td colspan="1" class="text-end">
                              <div class="d-flex justify-content-between">
                                     <span>$</span><span id="packaging"><%= (locals.userLogin.rolName !== "medidor") ? packaging : "-" %></span>
                              </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" class="text-end">
                              <b>TOTAL:</b> 
                          </td>
                          <td colspan="1" class="d-flex justify-content-between">
                              <span>$</span><span id="total"><%= (locals.userLogin.rolName !== "medidor") ? toThousand(packaging) : "-" %></span> 
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                
                </div>
                   
             
            <div class="card-footer d-flex flex-column flex-md-row justify-content-end">
              <a href="/" class="btn btn-secondary mb-2 ms-2" id="btn-back">Cancelar pedido</a>
              <% if (locals.userLogin.rolName !== "medidor") { %>
              <label for="ticket" class="btn btn-outline-dark mb-2 ms-2" id="btnTicket">Comprobante depósito</label>
              <input class="" type="file" id="ticket" name="ticket" hidden>   
              <% } %>           
              <button type="submit" class="btn btn-primary mb-2 ms-2" id="btn-submit" disabled>Enviar pedido</button>
            </div>
          </form>
        
          
          </article>
        </div>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
<script src="/javascripts/accesoriesBuy.js"></script>
  </body>

</html>