<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="container">
        <section class="col-12 mt-5 mx-auto">
          <article class="card shadow">
            <div class="card-header d-flex justify-content-between">
              <h5>
                Editando: <b>
                  <%= system.name %>
                </b>
              </h5>
              <div>
                ID: <b>
                  <%= system.id %>
                </b>
                <form id="form-system" action="/accessories/update/<%= system.id %>?_method=PUT" method="POST">

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="visible" <%=system.visible && 'checked'
                      %> name="visible">
                    <label class="form-check-label" for="visible">
                      Visible
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="accessory" <%=system.accessory && 'checked'
                      %> name="accessory">
                    <label class="form-check-label" for="accessory">
                      Accesorio
                    </label>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-3 mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="name" value="<%= system.name %>" placeholder="nombre"
                    name="name" />
                </div>
                <div class="col-12 col-md-3 mb-3">
                  <label for="price" class="form-label">Precio</label>
                  <input type="number" class="form-control" id="price" value=<%=system.price %> name="price"/>
                </div>
                <div class="col-12 col-md-3 mb-3">
                  <label for="salePrice" class="form-label">Precio de venta</label>
                  <input type="number" class="form-control" id="salePrice" value=<%=system.salePrice %> name="salePrice"/>
                </div>
                <div class="col-12 col-md-3 mb-3">
                  <label for="idLocal" class="form-label">ID Local</label>
                  <input type="number" class="form-control" id="idLocal" value=<%=system.idLocal %> name="idLocal"/>
                  <span id="msg-error" class="text-danger text-small ms-2" hidden>El ID está en uso</span>

                </div>

                  

                <div class="text-end">
                  <a href="/accessories" class="btn btn-secondary mb-2">Volver a accesorios</a>
                  <button type="submit" class="btn buttons__btn-custom mb-2">Guardar cambios</button>
                </div>
              </div>
              </form>

            </div>
          </article>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
<script src="/javascripts/accessories.js"></script>
  </body>

</html>