<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas | Accesorios" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="container">
        <section class="col-12 col-md-10 col-lg-8 mt-5 mt-lg-4 mx-auto">
          <article class="card shadow">
            <div class="card-header">


              <form action="/accessories/filter" class="row" id="form-items">

                <div class="col-12 col-md-4 mb-2">
                  <select class="form-select" id="order" name="order" onchange="setValues()">
                    <option value="" selected hidden>Ordenar</option>
                    <option value="name" id="name">Nombre</option>
                    <option value="price" id="price">Precio</option>
                    <option value="id" id="default">Default</option>
                  </select>
                </div>
                <div class="col-12 col-md-4 mb-2">
                  <select class="form-select" id="filter" name="filter" onchange="resetValues()">
                    <option value="" selected hidden>Filtrar</option>
                    <option id="visible" value="1">Visibles</option>
                    <option id="hidden" value="0">Ocultas</option>
                    <option id="all" value="all">Todas</option>
                  </select>
                </div>
                <div class="col-12  col-md-4 mb-2 position-relative">
                  <input type="text" class="form-control w-100" id="search" placeholder="Buscar" name="search">
                  <button class="btn btn-sm btn-dark-outline position-absolute end-0 top-0 me-3 mt-1" type="submit" onclick="handlerSearch()"><i
                      class="fas fa-search"></i></button>
                </div>
            </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-4">
                  <a class="btn btn-sm btn-outline-dark w-100" href="/accessories/add">Agregar</a>

                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center">
                  <h5 class="text-center">ACCESORIOS </h5><span class="small ms-2">(<%= total %>)</span>

                </div>
                <div class="col-12 col-md-4 d-flex justify-content-end">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">

                      <% if (pages> 1) { %>
                        <li class="page-item">
                          <button class="page-link text-dark" onclick="blockPagesPrevious('<%= pages %>')"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </button>
                        </li>
                        <% } %>

                          <% for( let i=+pages; i <= (total / 8) + multiplo ; i++ ) { %>
                            <% if (i <= +pages + 4 ) { %>
                              <li class="page-item <%= +active == i && 'active' %> "><button class="page-link"
                                  onclick="changeActive('<%=i%>')">
                                  <%= i %>
                                </button></li>
                              <% } %>
                                <% } %>

                                  <input id="active" type="text" value="1" hidden name="active" />
                                  <input id="pages" type="text" value="<%= pages %>" hidden name="pages" />
                                  <input type="text" value="" hidden name="keywords" id="keywords">

                                  <% if (pages < (total / 8) - 4) { %>
                                    <li class="page-item">
                                      <button class="page-link text-dark" aria-label="Next"
                                        onclick="blockPagesNext('<%= pages %>')">
                                        <span aria-hidden="true">&raquo;</span>
                                      </button>
                                    </li>
                                    <% } %>

                    </ul>
                  </nav>
                 

                </div>

                </form>
                <div class="table-responsive">
                  <% if (items.length > 0) { %>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">IDLocal</th>
                        <th scope="col">Acciones</th>
                        <th scope="col">Visible</th>

                      </tr>
                    </thead>
                    <tbody>
                      <% items.forEach((item) => { %>
                        <tr>
                          <th scope="row">
                            <%= item.id %>
                          </th>
                          <td>
                            <%= item.name %>
                          </td>
                          <td>
                            <%= item.price %>
                          </td>

                          <td>
                            <%= item.idLocal %>
                          </td>
                          <td class="d-flex">
                            <a class="btn btn-sm btn-success mx-1" style="width:33px;"
                              href="/accessories/edit/<%= item.id %>"><i class="fas fa-edit"></i></a>
                            <form action="/accessories/remove/<%= item.id %>?_method=delete" method="post">
                              <button class="btn btn-sm btn-danger mx-1" style="width:33px;"><i
                                  class="fas fa-trash"></i></button>
                            </form>
                          </td>
                          <td>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="visible<%= item.id %>"
                                <%=item.visible && 'checked' %> onchange="changeVisibility(<%=item.id%>,
                                <%=item.visible%>,'accessories' )">
                            </div>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                  <% }else{ %>
                    <p class="alert alert-warning mt-4 text-center">No hay resultados <%= keywords && 'para ' + keywords %></p>
                  <% } %>

                </div>
              </div>
          </article>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
          <script src="/javascripts/tables.js"></script>

  </body>

</html>