<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="px-md-3 px-lg-5">
        <section class="row mt-5 mx-auto">
          <div class="col-12">
          <article class="card shadow">
            <form action="/orders/send?order=<%= order.id %>" method="POST" id="form-sendOrder">
            <div class="card-header d-flex flex-column flex-md-row justify-content-between">
                <h4 class="my-2">Orden | vista previa </h4>
               <!--  <button class="btn btn-outline-dark">Enviar pedido</button> -->
              </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h5>Vendedor: <span><%= user.name %> <%= user.surname %>  </span></h5>
                        <hr>
                        <h6>Pedido para: <% references.forEach((reference,index) => { %>
                         <span><%= reference %> <%= index < references.length - 1 ? ',' : null %>  </span>
                        <% }) %> </h6>
                    </div>
                    <div class="col-12 col-md-6">
                        <textarea class="form-control" name="observations" id="observations" cols="30" rows="2" style="resize: none;" placeholder="Observaciones"></textarea>
                    </div>
                </div>
             
           
                <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Cant.</th>
                          <th scope="col">Sistema</th>
                          <th scope="col">Tela</th>
                          <th scope="col">Color</th>
                          <th scope="col">Ancho</th>
                          <th scope="col">Alto</th>
                          <th scope="col">Modelo</th>
                          <th scope="col">Cadena</th>
                          <th scope="col">Soporte</th>
                          <th scope="col">Comando</th>
                          <th scope="col">Orien. Soporte</th>
                          <th scope="col">Orien. Tela</th>
                          <th scope="col">Obs.</th>
                          <th scope="col">Ambiente</th>
                          <th scope="col">Referencia</th>
                          <th scope="col">Precio unitario</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% quotations.forEach((item) => { %>
                          <tr>
                            <th scope="row">
                              <%= item.quantity %>
                            </th>
                            <td>
                              <%= item.system.name %>
                            </td>
                            <td>
                              <%= item.cloth.name %>
                            </td>
                            <td>
                              <%= item.color.name %>
                            </td>
                            <td>
                                <%= item.clothWidth %>
                              </td>
                              <td>
                                <%= item.heigth %>
                              </td>
                              <td>
                                <%= item.pattern.name %>
                              </td>
                              <td>
                                <%= item.chain.name %>
                              </td>
                              <td>
                                <%= item.support.name %>
                              </td>
                              <td>
                                <%= item.command %>
                              </td>
                              <td>
                                <%= item.supportOrientation %>
                              </td>
                              <td>
                                <%= item.clothOrientation %>
                              </td>
                              <td>
                                <%= item.observations %>
                              </td>
                              <td>
                                <%= item.environment %>
                              </td>
                              <td>
                                <%= item.reference %>
                              </td>
                              <td>
                                  <div class="d-flex justify-content-around">
                                    <span>$</span><span><%= toThousand(item.amount) %></span> 
                                  </div>
                              </td>
                              <td>
                                <div class="d-flex justify-content-around">
                                    <span>$</span><span><%= toThousand(item.amount * item.quantity) %></span> 
                                </div>
                              </td>
                          </tr>
                          <% }) %>
                          <tr>
                            <td colspan="16" class="text-end">
                                <b>EMBALAJE:</b> 
                            </td>
                            <td colspan="1" class="text-end">
                                <div class="d-flex flex-column">
                                    <div>
                                       $<%= order.packaging %>
                                    </div>
                                </div>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="16" class="text-end">
                                <b>TOTAL:</b> 
                            </td>
                            <td colspan="1" class="text-end">
                                $<%= toThousand(total + order.packaging)  %>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
            <div class="card-footer text-end">
              <button type="button" class="btn btn-secondary mx-1" onclick="window.history.back()" id="btn-back">Volver atrás</button>
              <button type="submit" class="btn btn-primary mx-1" id="btn-submit">Enviar pedido</button>
            </div>
          </form>
          </article>
        </div>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
<script src="/javascripts/orderPreview.js"></script>
  </body>

</html>