<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas | Lista de precios" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="container">
        <section class="col-12 col-md-10 col-lg-8 mt-5 mt-lg-4 mx-auto">
          <article class="card shadow">
            <div class="card-header">

<div class="row">
                <div class="col-12 col-md-4 mb-2">
                  <select class="form-select" id="systems" name="systems">
                    <option value="" selected hidden>Sistema</option>
                    <% systems.forEach(system => { %>
                      <option value="<%= system.id %>"><%= system.name %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="col-12 col-md-4 mb-2">
                  <select class="form-select" id="cloths" name="cloths" disabled>
                    <option value="" selected hidden>Tela</option>
                  </select>
                </div>
                <div class="col-12  col-md-4 mb-2">
                  <select class="form-select" id="colors" name="colors" disabled>
                    <option value="" selected hidden>Color</option>
                  </select>
                </div>
            </div>
          </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-4">
                  <a class="btn btn-sm btn-outline-dark w-100" href="/prices/edit/item">Agregar</a>

                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center">
                  <h5 class="text-center">LISTA DE PRECIOS </h5><span id="total" class="small ms-2">(<%= total %>)</span>

                </div>
          


                <div class="table-responsive">
                  <% if (items.length > 0) { %>
                    <table class="table table-striped">
                      <thead id="head">
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Sistema</th>
                          <th scope="col">Tela</th>
                          <th scope="col">Color</th>
                          <th scope="col">IDLocal</th>
                          <th scope="col">Precio</th>
                          <th scope="col">Acciones</th>
                          <th scope="col">Visible</th>

                        </tr>
                      </thead>
                      <div id="empty" class="alert alert-warning mt-2" hidden>No existe precio definido para esta combinación</div>
                      <tbody id="table">
                        <% items.forEach((item)=> { %>
                          <tr>
                            <th scope="row">
                              <%= item.id %>
                            </th>
                            <td>
                              <%= item.system.name %>
                            </td>
                            <td>
                              <%= item.cloth.name %>
                            </td>
                            <td>
                              <%= item.color.name %>
                            </td>
                            <td>
                              <%= item.idLocal %>
                            </td>
                            <td>
                              <%= item.amount %>
                            </td>
                            <td class="d-flex">
                              <a class="btn btn-sm btn-success mx-1" style="width:33px;"
                                href="/prices/edit/<%= item.id %>"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-sm btn-danger mx-1" style="width:33px;" onclick="removePrice('<%=item.id%>')"><i
                                    class="fas fa-trash"></i></a>
                            </td>
                            <td>
                              <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="visible<%= item.id %>"
                                  <%=item.visible && 'checked' %> onchange="changeVisibility(<%=item.id%>)">
                              </div>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                    <% }else{ %>
                      <p class="alert alert-warning mt-4 text-center">No hay resultados <%= keywords && 'para ' +
                          keywords %>
                      </p>
                      <% } %>

                </div>
              </div>
            </div>
          </article>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
        <script src="/javascripts/pricesList.js"></script>

  </body>

</html>