<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas" }) %>

  <body>
    <%- include('partials/header') %>
    <%- include('partials/spinner') %> 
          <main class="container">
            <section class="col-12 mt-5 mx-auto">
              <article class="card shadow">
                <div class="card-body">
                  <form class="row " action="" id="form-quoter" novalidate>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                      <div class="form-floating ">
                        <select class="form-select" id="systems" required>
                          <option value="" selected hidden>Seleccione...</option>
                      
                        </select>
                        <label for="systems">Sistema</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">

                      <div class="form-floating">
                        <select class="form-select" id="cloths" required>
                          
                        </select>
                        <label for="cloths">Tela</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">

                      <div class="form-floating">
                        <select class="form-select" id="colors" required>
                       
                        </select>
                        <label for="colors">Color</label>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-3">

                      <div class="form-floating ">
                        <select class="form-select" id="supports" required>
                         
                        </select>
                        <label for="supports">Soporte</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">

                      <div class="form-floating ">
                        <select class="form-select" id="patterns" required>
                         
                        </select>
                        <label for="patterns">Modelo</label>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-3">

                      <div class="form-floating ">
                        <select class="form-select" id="chains" required>
                         
                        </select>
                        <label for="chains">Cadena</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="width" name="width" required>
                        <label for="width">Ancho de paño (cm)</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="heigth" name="heigth" required>
                        <label for="heigth">Alto (cm)</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="reference" name="reference" required>
                        <label for="heigth">Nombre de referencia</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                      <div class="alert alert-warning">
                        Todos los campos son obligatorios.
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="alert alert-success text-center py-2" id="amount-box" hidden>
                       <p id="amount"></p>
                      </div>
                     
                  </div>
                  <div class="col-12 col-md-12 col-lg-4 mb-3">
                   
                    <button class="btn buttons__btn-custom w-100 py-3 ">COTIZAR CORTINA</button>
                </div>
                    <div class="col-12 mb-3">
                        <div class="alert alert-info">
                          <h6><i class="fas fa-info-circle"></i> Aclaraciones</h6>
                          <hr>
                          <ul>
                            <li>Lo primero que debe seleccionarse es el sistema a cotizar. Ej: <b>Roller</b></li>
                            <li>Las medidas deben ser expresadas en centimetros. Ej: <b>2m = 200cm</b> </li>
                            <li>Consulten con nosotros si el cotizador no cotiza alguna medida.</li>
                          </ul>
                        </div>
                    </div>
                  </form>
                </div>

              </article>

            </section>


          </main>
          <%- include('partials/footer') %>
          <%- include('partials/scripts') %>
          <script src="/javascripts/quoterForm.js"></script>
  </body>

</html>