<!-- Modal -->
<style>
  .quantity::-webkit-inner-spin-button {
    opacity: 1
}
</style>
<div
  class="modal fade"
  id="accessoryModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!--  <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar accesorios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <span hidden id="rol"><%= locals.userLogin.rolName %></span>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Cant.</th>
              <th scope="col">Accesorio</th>
              <th scope="col" class="col-1">Precio</th>
              <th scope="col" class="col-2">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <% accessories.forEach(accessory => { %>
            <tr>
              <th scope="row">
                <input
                  id="input<%= accessory.id %>"
                  class="form-control border-0 quantity"
                  type="number"
                  min="0"
                  max="<%= accessory.limit %>"
                  value="0"
                  onchange="updateSubotal('<%=accessory.id%>')"
                />
                <input type="text" value="<%= accessory.limit %>" id="limit<%= accessory.id %>" hidden>
                <span class="text-danger small" id="error<%=accessory.id%>" hidden>Máx. <%= accessory.limit %>  unid.</span>
              </th>
              <td class="fw-bold" id="accessory<%= accessory.id %>">
                <%= accessory.name %>
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <span>$</span
                  >
                  <% if (locals.userLogin.rolName === "medidor") { %>
                    <span>-</span>
                      <span id="price<%= accessory.id %>" hidden><%=accessory.salePrice%></span>
                  <% }else{ %>
                  <span id="price<%= accessory.id %>"
                    ><%=accessory.salePrice%></span
                  >
                  <% } %>
                </div>
              </td>
              <td>
                <div
                  class="d-flex justify-content-around"
                  id="box-subtotal<%= accessory.id %>"
                >
                  <span>$</span
                  ><span class="subtotal" id="subtotal<%= accessory.id %>"
                    ><%= (locals.userLogin.rolName !== "medidor") ? 0 : "-" %></span
                  >
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" class="text-end">
                <b>TOTAL:</b>
              </td>
              <td colspan="1">
                <div class="d-flex justify-content-between">
                  <span>$</span><span id="total"></span>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button id="btn-cancel" type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Borrar todo
        </button>
        <button id="btn-add" type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/addAccessory.js"></script>
